<?xml version="1.0" encoding="UTF-8"?>
<suite name="Wildberries suite">

    <listeners>
        <listener class-name="by.stormnet.core.common.AnnotationTransformer"/>
    </listeners>

    <test name="Search tests">
        <classes>
            <class name="project.by.stormnet.functional.tests.WBSearchTests"/>
        </classes>
    </test>
    <test name="Login tests">
        <classes>
            <class name="project.by.stormnet.functional.tests.WildberriesLoginTests"/>
        </classes>
    </test>
    <test name="Navigation tests">
        <classes>
            <class name="project.by.stormnet.functional.tests.WildberriesNavigationTests"/>
        </classes>
    </test>
    <test name="Factory tests">
        <classes>
            <class name="project.by.stormnet.functional.tests.factory.WildberriesFaqTestFactory"/>
        </classes>
    </test>
</suite>